<div class="body">

    <div class="title">
        <h1>Culture Numérique</h1>
        <h3>Antoine BUQUET</h3>
    </div>
    <hr>
    <div class="title">
        <div id="btn" routerLink="/cours">Notations infixe, préfixe et postfixe</div>
    </div>
    <h3 style="text-align: center">Réponses aux TDs</h3>
    <div class="choice">
        <div id="btn" routerLink="/fibonacci">Fibonacci</div>
        <div id="btn" routerLink="/huffman">Huffman</div>
        <div id="btn" routerLink="/expression-arithmetique">Expression arithmétique</div>
        <div id="btn" routerLink="/minmax">MinMax</div>
    </div>
    <hr>

</div>