<!-- MENU -->
<div class="menu">
    <div class="home" routerLink="/accueil">
        <fa-icon [icon]="homeIcon"></fa-icon>
    </div>
    <div id="btn" routerLink="/cours">Notations infixe, préfixe et postfixe</div>
</div>
<hr>
<h3 style="text-align: center">Réponses aux TDs</h3>
<div class="choice">
    <div id="btn" routerLink="/fibonacci">Fibonacci</div>
    <div id="btn" routerLink="/huffman">Huffman</div>
    <div id="btn" routerLink="/expression-arithmetique">Expression arithmétique</div>
    <div id="btn" routerLink="/minmax">MinMax</div>
</div>
<hr>

<!-- REPONSES -->
<div style="margin-left: 30px;">
    <br>
    <h1>Récursivité et suite de Fibonacci</h1>
    <br>
    <h3>Question 1</h3>
    <p>En language C, il suffit de remplir le Else par <a class=" ita ">Fibonacci(n-1) + Fibonacci(n-2)</a> pour compléter l'algorithme</p>
    <a target="_blank " href="https://ibb.co/dGhDBR3 "><img src="https://i.ibb.co/XSwtXqd/1.png " alt="1 " style="width: 25% "></a>
    <br><br>
    <h3>Question 2</h3>
    <p>L’arbre des appels successifs pour le calcul de <a class="ita ">Fibonacci(4)</a> ci-dessous avec les flèches complètes représentant les appels des fonctions tandis que les flèches pointillées représentent leurs retours.
    </p>
    <a target="_blank " href="https://ibb.co/P4krYVk "><img src="https://i.ibb.co/S0S6xZS/2.png " alt="2 " style="width: 45% "></a>
    <br><br>
    <h3>Question 3</h3>
    <p>On remarque tout de suite grâce a l’arbre que certaines fonction sont appelées plusieurs fois (par exemple <a class="ita ">Fibonacci(1)</a> ou <a class="ita ">Fibonacci(2)</a> et donc que les calculs associés sont effectué plusieurs fois également.
        Ces calculs en double constituent une perte de temps considérable si n est grand, il s’agit du principal défaut de cette fonction.
    </p>
    <br><br>
    <h3>Question 4</h3>
    <a target="_blank " href="https://imgbb.com/jr1VqgY "><img src="https://i.ibb.co/VqPHb2G/3.png " alt="3 " style="width: 25% "></a>
    <p>Avec une version récursive terminale, nous avons résolu le problème de la fonction précédente.
    </p>
    <br><br>
    <h3>Question 5</h3>
    <a target="_blank " href="https://imgbb.com/fDnnHvz "><img src="https://i.ibb.co/dmLLDgw/4.png " alt="4 " style="width: 25% "></a>
    <br><br>
    <h3>Question 6</h3>
    <p>Voici le code permettant de coder et décoder un texte simple.</p>
    <a target="_blank " href="https://ibb.co/J5gzq5q "><img src="https://i.ibb.co/vZRJhZh/5.png " alt="5 " style="width: 30% "></a>
    <p>Les fonctions <a class="ita ">mygets()</a> et <a class="ita ">myfflush()</a> permettent la saisie d'une chaîne de caractère comme nous en avons besoin ici.
    </p>
    <a target="_blank " href="https://ibb.co/10ZX12k "><img src="https://i.ibb.co/CwB9g0f/6.png " alt="6 " style="width: 15% "></a>
    <br><br>
    <h3 style="text-align: center; ">Annexes</h3>
    <hr>
    <br>
    <a target="_blank " href="https://mega.nz/file/NI5GzIhJ#ZLUBFSZzltVdCBzDwFz4Sq6V_u9Ti-iG_iVrsMKm7XM ">
        <div class="box ">
            <br>
            <p>Telecharger le fichier .c</p>
            <br>
        </div>
    </a>

</div>